{
    "semi": true,
    "singleQuote": true,
    "endOfLine": "lf",
    "trailingComma": "all",
    "singleAttributePerLine": true,
    "bracketSameLine": false,
    "tabWidth": 4,
    "printWidth": 100
}
