:root {
    --white-color: white;
    --red-color: red;
    --bg-color: black;
    --input-color: #252110;
    --placeholder-color: #bdbdb8;
}

html {
    font-size: 62.5%;
    font-family:
        'Pretendard Variable',
        Pretendard,
        -apple-system,
        BlinkMacSystemFont,
        system-ui,
        Roboto,
        'Helvetica Neue',
        'Segoe UI',
        'Apple SD Gothic Neo',
        'Noto Sans KR',
        'Malgun Gothic',
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol',
        sans-serif;
}

* {
    box-sizing: border-box;
}

#app,
body {
    height: 100vh;
}

input {
    outline: none;
}
